<form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput>
        <mat-error>El campo Nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- [urlImagenActual]="modelo.foto"  
    COMPONENTE de imagen predeterminada FALLANDO 
    ~~~input-img.component.ts~~~
    ingresa el comando de aqui arriba y haz que devuelva un valor string
    que no sea any como lo devuelve ahorita-->

    <app-input-img 
    
        (archivoSeleccionado)="archivoSeleccionado($event)">
    </app-input-img>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/actores">Cancelar</a>
    </div>
</form>